/********/
/* Misc */
/********/

.break-word-wrap {
  word-wrap: break-word;
}
.description {
  padding-left: 20px;
}
.file-name-size {
  color: gray;
}
.modal .description {
  padding-left: 10px;
}
.tag-list {
  list-style: none;
  padding-left: 0;
}
.tag-list-item {
  display: inline;
  padding-left: 10px;
}
.tidy-list {
  list-style: none;
  padding-left: 0;
}


/**********/
/* Modals */
/**********/

.modal-footer .btn-group-vertical .btn + .btn {
  margin-left: 0px;
}

.modal-footer .btn-group-vertical + .btn-group-vertical {
  margin-top: 5px;
}


/*****************/
/* Search/Filter */
/*****************/

.search-filter-data {
  margin-bottom: 10px;
}
.search-container, .filter-container {
  padding-right: 0;
}
@media screen and (max-width: 767px) {
  .filter-container {
    margin-top: 7px;
  }
}

/* Make Filter Combo box style more consistent with Search box */
span.select2-selection.select2-selection--multiple {
  border-color: #ccc;
  min-height: 34px;
}


/****************************************/
/* Visibility on Different Screen Sizes */
/****************************************/

.show-on-mobile {
  display: none;
}
@media screen and (max-width: 450px) {
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: inline;
  }
}
