{% if data_item.description %}
  <p><strong>Description:</strong></p>
  <div class="description">{{ data_item.description|linebreaks }}</div>
{% endif %}

{% if is_data_file_set_list %}
  <p><strong>Number of Files:</strong> {{ data_item.published_data_files.count }}</p>
{% else %}
  <p class="break-word-wrap"><strong>File:</strong> {{ data_item.file.original_filename }}</p>
  <p><strong>Size:</strong> {{ data_item.file_size_fmt }}</p>
  <p class="break-word-wrap"><strong>SHA-1:</strong> {{ data_item.file.sha1 }}</p>
{% endif %}

{% if data_item.tags.count > 0 %}
  <p>
    <strong>Tags:</strong>
    <ul class="tag-list">
      {% for tag in data_item.tags.all|dictsort:"name" %}
        <li class="tag-list-item"><span class="label label-primary">{{ tag.name }}</span></li>
      {% endfor %}
    </ul>
  </p>
{% endif %}

{% if not is_data_file_set_list %}
  {% if data_item.datafileset_set.all.count > 0 %}
    <p>
      <strong>Data File Sets:</strong>
      <ul class="tag-list">
        {% for datafileset in data_item.datafileset_set.all %}
          <li class="tag-list-item">
            <a href="{% url 'cms_lab_data:data_file_set_detail' datafileset.slug %}" class="label label-info">
              {{ datafileset.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </p>
  {% endif %}
{% endif %}
