<p class="break-word-wrap"><strong>File:</strong> {{ data_file.file.original_filename }}</p>
<p><strong>Size:</strong> {{ data_file.file_size_fmt }}</p>

{% if data_file.description %}
  <p><strong>Description:</strong></p>
  <div class="description">{{ data_file.description|linebreaks }}</div>
{% endif %}

{% if data_file.tags.count > 0 %}
  <p>
    <strong>Tags:</strong>
    <ul class="tag-list">
      {% for tag in data_file.tags.all|dictsort:"name" %}
        <li class="tag-list-item"><span class="label label-primary">{{ tag.name }}</span></li>
      {% endfor %}
    </ul>
  </p>
{% endif %}
