{% load cms_tags sekizai_tags staticfiles %}

{% addtoblock "css" %}
  {% if searchable %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{% static 'cms_lab_data/css/app.css' %}">
{% endaddtoblock %}

<div id="{{ list_id }}">
  {% if searchable %}
    {% include "cms_lab_data/_header-with-search-filter.html" %}
  {% else %}
    <h4>{{ label }}</h4>
  {% endif %}

  <ul class="list tidy-list">
    {% for data_file in data_file_set %}
      <li>
        <p>
          <strong>
            <a class="hide-on-mobile name" href="{% url 'cms_lab_data:data_file_detail' data_file.slug %}">
              {{ data_file.name }}
            </a>
            <a class="show-on-mobile name" href="#" data-toggle="modal" data-target="#modal-data-{{ data_file.id }}">
              {{ data_file.name }}
            </a>
          </strong>

          <span class="hide-on-mobile file-name-size">
            [&nbsp;<em class="filename">{{ data_file.file.original_filename }},
            {{ data_file.file_size_fmt }}</em>&nbsp;<a class="hide-on-mobile name" href="{{ data_file.file.url }}" target="_blank"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>&nbsp;]
          </span>

          {% if data_file.description %}
            <div class="hide-on-mobile description">
                {% if data_file.description|wordcount > max_words|add:word_buffer %}
                  {{ data_file.description|linebreaks|truncatewords:max_words }}
                  <a class="name btn btn-xs btn-default" href="#" data-toggle="modal" data-target="#modal-data-{{ data_file.id }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </a>
                {% else %}
                  {{ data_file.description|linebreaks }}
                {% endif %}
            </div>
          {% endif %}
        </p>

        {% if searchable %}
          <!-- Hidden search/filter fields -->
          <p class="tags" style="display: none;">{% for tag in data_file.tags.all %}{{ tag.id }} {% endfor %}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if pagination < data_file_set.count %}
    <div class="text-center">
      <ul class="pagination"></ul>
    </div>
  {% endif %}
</div>

{% for data_file in data_file_set %}
  {% include "cms_lab_data/_modal.html" %}
{% endfor %}

{% addtoblock "js" %}
  <script src="{% static 'cms_lab_data/js/list.min.js' %}"></script>

  {% if pagination %}
    <script src="{% static 'cms_lab_data/js/list.pagination.min.js' %}"></script>
  {% endif %}

  {% if searchable %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="{% static 'cms_lab_data/js/search-filter-data.js' %}"></script>
  {% endif %}

  <script>
    var options = {
      valueNames: [ 'name', 'filename', 'description', 'tags' ],

      {% if pagination %}
        page: {{ pagination }},
        plugins: [
          ListPagination({})
        ],
      {% endif %}

    };
    var {{ list_var }} = new List("{{ list_id }}", options);

    $( "#{{ filter_id }}" ).change(function() {
      filterByTags({{ list_var }}, "{{ filter_id }}");
    });

    $( "#{{ search_id }}" ).keyup(function() {
      filterByTags({{ list_var }}, "{{ filter_id }}");
    });

    $("#{{ filter_id }}").select2({
        placeholder: "Filter Keywords",
    });
  </script>

{% endaddtoblock %}
