{% load cms_tags sekizai_tags staticfiles %}

{% addtoblock "css" %}
  {% if searchable %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{% static 'cms_lab_data/css/app.css' %}">
{% endaddtoblock %}

<div id="{{ list_id }}">
  {% if searchable %}
    {% include "cms_lab_data/_header-with-search-filter.html" %}
  {% else %}
    <h4>{{ label }}</h4>
  {% endif %}

  <ul class="list tidy-list">
    {% for data_item in data_list %}
      <li>
        <p>
          <strong>
            <a class="hide-on-mobile name" href="
              {% if is_data_file_set_list %}
                {% url 'cms_lab_data:data_file_set_detail' data_item.slug %}
              {% else %}
                {% url 'cms_lab_data:data_file_detail' data_item.slug %}
              {% endif %}
            ">

              {{ data_item.name }}
            </a>
            <a class="show-on-mobile name" href="#" data-toggle="modal" data-target="#modal-data-{{ data_item.id }}">
              {{ data_item.name }}
            </a>
          </strong>

          {% if is_data_file_set_list %}
            <span class="hide-on-mobile file-name-size">
              [&nbsp;{{ data_item.data_files.count }} data file{{ data_item.data_files.count|pluralize }}&nbsp;]
              </span>
            </span>
          {% else %}
            <span class="hide-on-mobile file-name-size">
              [&nbsp;<em class="filename break-word-wrap">{{ data_item.file.original_filename }},</em>
              <span class="no-word-wrap">
                <em>{{ data_item.file_size_fmt }}</em>
                <a href="{{ data_item.file.url }}" target="_blank">
                  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </a>
                ]
              </span>
            </span>
          {% endif %}

          {% if data_item.description %}
            <div class="hide-on-mobile description-indent">
                {% if data_item.description|wordcount > max_words|add:word_buffer %}
                  <span class="description">{{ data_item.description|linebreaksbr|truncatewords:max_words }}</span>
                  <a class="name btn btn-xs btn-default" href="#" data-toggle="modal" data-target="#modal-data-{{ data_item.id }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </a>
                {% else %}
                  <span class="description">{{ data_item.description|linebreaksbr }}</span>
                {% endif %}
            </div>
          {% endif %}
        </p>

        {% if searchable %}
          <!-- Hidden search/filter fields -->
          <p class="tags" style="display: none;">{% for tag in data_item.tags.all %}{{ tag.id }} {% endfor %}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if pagination > 0 and data_list.count > pagination %}
    <div class="text-center">
      <ul class="pagination"></ul>
    </div>
  {% endif %}
</div>

{% for data_item in data_list %}
  {% include "cms_lab_data/_modal.html" %}
{% endfor %}

{% addtoblock "js" %}
  <script src="{% static 'cms_lab_data/js/list.min.js' %}"></script>

  {% if pagination > 0 and data_list.count > pagination %}
    <script src="{% static 'cms_lab_data/js/list.pagination.min.js' %}"></script>
  {% endif %}

  {% if searchable %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="{% static 'cms_lab_data/js/search-filter-data.js' %}"></script>
  {% endif %}

  <script>
    var options = {
      valueNames: [ 'name', 'filename', 'description', 'tags' ],

      {% if pagination > 0 and data_list.count > pagination %}
        page: {{ pagination }},
        plugins: [
          ListPagination({})
        ],
      {% endif %}

    };
    var {{ list_var }} = new List("{{ list_id }}", options);

    $( "#{{ filter_id }}" ).change(function() {
      filterByTags({{ list_var }}, "{{ filter_id }}");
    });

    $( "#{{ search_id }}" ).keyup(function() {
      filterByTags({{ list_var }}, "{{ filter_id }}");
    });

    $("#{{ filter_id }}").select2({
        placeholder: "Filter Keywords",
    });
  </script>

{% endaddtoblock %}
