{% extends "base.html" %}
{% load sekizai_tags staticfiles %}


{% block content %}

  {% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{% static 'cms_lab_data/css/app.css' %}">
  {% endaddtoblock %}

  <div class="container-fluid summary">
    <h1>{{ object.name }}</h1>
    <hr>
    {% include "cms_lab_data/_data_summary.html" with data_file=object files_or_sets='files' %}
    <hr>
    {% include "cms_lab_data/_data_btn.html" with data_file=object files_or_sets='files' %}
  </div>

{% endblock content %}
