{% block content %}

  {% include 'cms_lab_data/_searchable-data-list.html' with data_file_set=data_file_set.data_files.all list_var='listVar'|add:unique_id list_id='search-list-'|add:unique_id search_id='search-'|add:unique_id filter_id='filter-'|add:unique_id search_filter_id='search-filter-'|add:unique_id label=data_file_set.label pagination=data_file_set.pagination searchable=data_file_set.searchable max_words=data_file_set.max_words_file_description word_buffer=data_file_set.word_buffer_file_description %}

{% endblock content %}
